### pandas append function is used to append rows of other DataFrame to the end of the given dataframe retuning a new dataframe object

In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({ 'A':[1,2,3],
                   'B':[10,20,30]})

In [9]:
df2 = pd.DataFrame({ 'C':[4,5,6],
                   'B':[40,50,60]})

In [5]:
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   A   B
0  4  40
1  5  50
2  6  60

In [6]:
df1.append(df2)

   A   B
0  1  10
1  2  20
2  3  30
0  4  40
1  5  50
2  6  60

In [10]:
df1.append(df2, ignore_index= True)

     A   B    C
0  1.0  10  NaN
1  2.0  20  NaN
2  3.0  30  NaN
3  NaN  40  4.0
4  NaN  50  5.0
5  NaN  60  6.0