In [1]:
import pandas as pd

In [2]:
demo=pd.read_csv(r'C:\Users\admin\Desktop\book1.csv')

In [3]:
demo.head()

   age     name  gander
0   33   akshay    male
1   34   manali  female
2   56  yuganat    male
3   23     abhi    male
4   45   harshi  female

In [4]:
pd.__version__

'1.2.3'

In [6]:
list1 = [12,34,65,'ak',88,"patil"]
s1 = pd.Series(list1)

In [7]:
s1

0       12
1       34
2       65
3       ak
4       88
5    patil
dtype: object

In [9]:
type(s1)

pandas.core.series.Series

In [16]:
s2 = pd.Series([1,2,3,4,5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# give index

s3 = pd.Series([1,2,3,4,5],index=[ 'a','b','c','d','e'])
s3

In [21]:
#Change Datatypes
s4 = pd.Series([1,2,3,4,5],index=[ 'a','b','c','d','e'] ,dtype = float  )
s4

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [20]:
s4 = pd.Series([1,2,3,4,5],index=[ 'a','b','c','d','e'] ,dtype = float ,name = "data values" )
s4

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: data values, dtype: float64

In [22]:
scalar = pd.Series(0.5)

In [23]:
scalar

0    0.5
dtype: float64

In [24]:
dict_s = pd.Series({'a':12, 'b':34})                 #create dict
dict_s

a    12
b    34
dtype: int64

In [25]:
s2 = pd.Series([1,2,3,4,5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [26]:
s2[3]    #access element

4

In [27]:
s2[0:3]

0    1
1    2
2    3
dtype: int64

In [28]:
max(s2)

5

In [29]:
min(s2)

1

In [31]:
s2[s2> 3]

3    4
4    5
dtype: int64

In [32]:
s5 = pd.Series([1,2,3])
s5

0    1
1    2
2    3
dtype: int64

In [33]:
s2 + s5

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64