# pandas GroupBy
pandas groupby fun is used to split the data into groups based on some criteria

In [1]:
import pandas as pd

In [2]:
data =pd.read_csv('C:\\Users\\admin\\Desktop\\book1.csv')
data

   Age      Dates  Genders   Date  marks
0   34   9/7/2012      5.0    7.0     10
1   56  12/4/2018      NaN   22.0     20
2   23   30/04/22      NaN    NaN     30
3   45   1/9/2022      2.0  556.0     40
4   34   9/7/2012      5.0    7.0     10
5   56  12/4/2018      7.0   22.0     20
6   23   30/04/22      5.0    NaN     30
7   45   1/9/2022      2.0  556.0     40

In [11]:
gp = data.groupby( by = "Age")

In [12]:
gp

In [13]:
gp.groups

{23: [2, 6], 34: [0, 4], 45: [3, 7], 56: [1, 5]}

In [14]:
gp = data.groupby( by = ["Age",'marks'])

In [15]:
gp

In [16]:
gp.groups

{(23, 30): [2, 6], (34, 10): [0, 4], (45, 40): [3, 7], (56, 20): [1, 5]}

In [17]:
for Age,marks in gp:
    print(Age)
    print(marks)

(23, 30)
   Age     Dates  Genders  Date  marks
2   23  30/04/22      NaN   NaN     30
6   23  30/04/22      5.0   NaN     30
(34, 10)
   Age     Dates  Genders  Date  marks
0   34  9/7/2012      5.0   7.0     10
4   34  9/7/2012      5.0   7.0     10
(45, 40)
   Age     Dates  Genders   Date  marks
3   45  1/9/2022      2.0  556.0     40
7   45  1/9/2022      2.0  556.0     40
(56, 20)
   Age      Dates  Genders  Date  marks
1   56  12/4/2018      NaN  22.0     20
5   56  12/4/2018      7.0  22.0     20

In [20]:
gp= data.groupby('Age').get_group(34)

In [21]:
gp

   Age     Dates  Genders  Date  marks
0   34  9/7/2012      5.0   7.0     10
4   34  9/7/2012      5.0   7.0     10

In [22]:
gp.mean()

Age        34.0
Genders     5.0
Date        7.0
marks      10.0
dtype: float64