# read csv file in pandas

In [1]:
import pandas as pd

In [6]:
data =pd.read_csv('C:\\Users\\admin\\Desktop\\book1.csv')

In [4]:
data

   age     name  gander
0   33   akshay    male
1   34   manali  female
2   56  yuganat    male
3   23     abhi    male
4   45   harshi  female

In [7]:
import os

In [10]:
print(os.getcwd())              # Get current working directory  getcwd()

C:\Users\admin\pandas tutorials